.contenedor {
  background-color: #0ef21d;
}
header {
  background-color: #0f3ef6;
}
nav {
  background-color: #f20e34;
}
section {
  background-color: #e8ef10;
}
.anuncio1 {
  background-color: #f5d015;
}
.anuncio2 {
  background-color: #12dff6;
}
footer {
  background-color: coral;
}
