.contenedor {
  background-color: #000000;
}
header {
  background-color: #bb0b4d;
}
nav {
  background-color: #75e1a7;
}
section {
  background-color: #868e11;
}
footer {
  background-color: #660deb;
}
